{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
    <h1 class="pt-4 mb-3">{{ title }}</h1>
    <form action="." method="post" class="pwchangeForm">
        {% csrf_token %}
        {% if form.errors %}
            <p><b><i>Wrong! Please correct the errors below.</i></b></p>
        {% endif %}
        <div>
            {{ form.old_password.label_tag }}
            {{ form.old_password }}
        </div>
        <div>
            {{ form.new_password1.label_tag }}
            {{ form.new_password1 }}
        </div>
        <div>
            {{ form.new_password2.label_tag }}
            {{ form.new_password2 }}
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="Password Change" />
        </div>
        <script type="text/javascript">
            document.getElementById('id_old_password').focus();
            $(".pwchangeForm>div").addClass("form-group");
            $(".pwchangeForm input[type='text'], .pwchangeForm input[type='password']").addClass("form-control");
        </script>
    </form>
{% endblock content %}