{% extends "base.html" %}

{% block content %}
    <h1 class="pt-4 mb-3">Photo Change - {{ user }}</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Album</th>
                <th>Title</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for item in object_list %}
                <tr>
                    <td><a href="{% url 'photo:album_detail' item.album.id %}">{{ item.album }}</a></td>
                    <td><a href="{{ photo.get_absolute_url }}">{{ item.title }}</a></td>
                    <td><a href="{% url 'photo:photo_update' item.id %}">Update</a></td>
                    <td><a href="{% url 'photo:photo_delete' item.id %}">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="mb-3">
        {% if page_obj.has_previous %}
            <a class="btn btn-primary mr-2" href="?page={{ page_obj.previous_page_number }}">&lt;</a>
        {% endif %}
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        {% if page_obj.has_next %}
            <a class="btn btn-primary ml-2" href="?page={{ page_obj.next_page_number }}">&gt;</a>
        {% endif %}
    </div>
{% endblock content %}