{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
    <h1 class="pt-4 mb-3">Photo Create&sol;Update - {{ user }}</h1>
    {% if form.errors %}
        <p><b><i>Wrong! Please correct the errors below.</i></b></p>
    {% endif %}
    <form enctype="multipart/form-data" method="post" action="." class="photoAdd">
        {% csrf_token %}
        <div>
            {{ form.image.label_tag }}
            {{ form.image }}
        </div>
        <div>
            {{ form.album.label_tag }}
            {{ form.album }}
        </div>
        <div>
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>
        <div>
            {{ form.description.label_tag }}
            {{ form.description }}
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>

        <script type="text/javascript">
            document.getElementById('id_album').focus();
            $(".photoAdd>div").addClass("form-group");
            $(".photoAdd input[type='text'], .photoAdd select, .photoAdd textarea, .photoAdd input[type='file']").addClass("form-control");
        </script>
    </form>
{% endblock content %}